.progress {
  height: 3px;
  margin-top: 7px;
  background-color: #444;
  transition: 5s linear;
  transition-property: width;
}

h1{
  margin-bottom: 30px;
}

span{
  cursor:pointer
}

img:hover{
  opacity: 0.5;
}

.table-match{
  table-layout: fixed;
}
