[tooltip] {
  cursor: help;
}

.progress {
  height: 3px;
  margin-top: 7px;
  background-color: #444;
  transition: 5s linear;
  transition-property: width;
}

.table-match {
  margin-bottom: 0px;
}

img:hover{
  cursor: pointer;
}

span:hover{
  cursor: pointer;
  color: #9d9d9d;
}

.disabled {
   pointer-events: none;
   cursor: default;
}

.disabled:hover {
  color: white;
}
