.custom-nav{
  display: block;
  font-size: 16px;
  font-weight: lighter;
}

.nav li{
  display: inline-block;
}

.nav li:last-child{
  float: right;
}

a.disabled {
   pointer-events: none;
   cursor: default;
}
