<ul *ngIf="id" class="nav nav-pills custom-nav">
  <li class="nav-item">
    <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/match/'+id]" href="#">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/match/'+id+'/benchmarks']" href="#">Benchmarks</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/match/'+id+'/performances']" href="#">Performances</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/match/'+id+'/combat']" href="#">Combat</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/match/'+id+'/farm']" href="#">Farm</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/match/'+id+'/chat']" href="#">Chat</a>
  </li>
</ul>
