<div *ngIf="state.o.state && !match" class="mt-5">
  <h1 class="text-center">Loading...</h1>
  <div class="progress mt-5 custom-progress">
    <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="{'width': getProgress(state.o)+'%'}" style="height: 20px;" aria-valuemin="0" aria-valuemax="100">{{getProgress(state.o)}}%</div>
  </div>
</div>
<div *ngIf="match">
  <div class="header">
    <div class="bar"></div>
    <div class="setheroes set-left">
      <img *ngFor="let i of player_size;" [src]="getImageHero(match.players[i].hero_name)" alt="">
    </div>
    <div class="score score-left">{{match['team_score_kills'][0]}}</div>
    <div class="half-circle">
      <div class="time">{{getTime(match.duration)}}</div>
    </div>
    <div class="score score-right">{{match['team_score_kills'][1]}}</div>
    <div class="setheroes set-right">
      <img *ngFor="let i of player_size;" [src]="getImageHero(match.players[i+5].hero_name)" alt="">
    </div>
    <div class="img-team">
      <img src="assets/group2/images/background.JPG" alt="">
      <div *ngIf="match.radiant_win" class="victory radiant">Radiant Victory</div>
      <div *ngIf="!match.radiant_win" class="victory dire">Dire Victory</div>
      <div *ngIf="match.radiant_team || match.dire_team" class="box left">
        <div class="team">
          {{getTeamName(match.radiant_team?.name)}} Team
        </div>
      </div>
      <div *ngIf="match.radiant_team || match.dire_team" class="box right">
        <div class="team">
          {{getTeamName(match.dire_team?.name)}} Team
        </div>
      </div>
      <div class="shadow"></div>
    </div>
  </div>
  <div *ngIf="match.radiant_team || match.dire_team" class="content px-3 d-flex hidden-md-up">
      <h3>TEAM VS TEAM</h3>
  </div>
  <div class="content px-3 py-2 d-flex justify-content-start">
    <div>
      <div class="text-muted">
        Macth ID
      </div>
      <div class="text-white">
        {{match.match_id}}
      </div>
    </div>
    <div class="pl-4 hidden-md-up">
      <div class="text-muted">
        Duration
      </div>
      <div class="text-white">
        {{getTime(match.duration)}}
      </div>
    </div>
    <div *ngIf="match.league != null" class="pl-4">
      <div class="text-muted">
        League
      </div>
      <div class="text-white">
        {{match.league.name}}
      </div>
    </div>
    <div class="ml-auto hidden-sm-down">
      <div *ngIf="match.game_mode != null">
        <div class="float-right text-white">
          {{match.game_mode}}
        </div>
      </div>
      <div>
        <div class="float-right text-white">
          Ended {{getTimeAgo(match.start_time)}}
        </div>
      </div>
      <div>
        <div class="float-right text-white">
          AVG MMR {{match.avg_mmr}}
        </div>
      </div>
    </div>
  </div>
  <div class="content px-3 d-flex justify-content-start hidden-md-up">
    <div>
      <div class="text-muted">
        Game Mode
      </div>
      <div class="text-white">
        {{match.game_mode}}
      </div>
    </div>
    <div class="pl-4">
      <div class="text-muted">
        Start time
      </div>
      <div class="text-white">
        {{getTimeAgo(match.start_time)}}
      </div>
    </div>
    <div class="pl-4">
      <div class="text-muted">
        AVG MMR
      </div>
      <div class="text-white">
        {{match.avg_mmr}}
      </div>
    </div>
  </div>
  <hr class="nav-hr mb-1" />
  <app-match-detail-nav [id]='id' (click)="emit()"></app-match-detail-nav>
  <hr class="nav-hr mt-1" />
</div>
<router-outlet></router-outlet>
