<div *ngIf="state.o.state && !match" class="mt-5">
  <h1 class="text-center">Loading...</h1>
  <div class="progress mt-5 custom-progress">
    <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="{'width': getProgress(state.o)+'%'}" style="height: 20px;" aria-valuemin="0" aria-valuemax="100">{{getProgress(state.o)}}%</div>
  </div>
</div>
<div *ngIf="match">
  <div class="header">
    <div class="bar"></div>
    <div class="setheroes set-left">
      <img src="http://cdn.dota2.com/apps/dota2/images/heroes/monkey_king_sb.png" alt="">
      <img src="http://cdn.dota2.com/apps/dota2/images/heroes/monkey_king_sb.png" alt="">
      <img src="http://cdn.dota2.com/apps/dota2/images/heroes/monkey_king_sb.png" alt="">
      <img src="http://cdn.dota2.com/apps/dota2/images/heroes/monkey_king_sb.png" alt="">
      <img src="http://cdn.dota2.com/apps/dota2/images/heroes/monkey_king_sb.png" alt="">
    </div>
    <div class="score score-left">12</div>
    <div class="half-circle">
      <div class="time">13 : 28</div>
    </div>
    <div class="score score-right">25</div>
    <div class="setheroes set-right">
      <img src="http://cdn.dota2.com/apps/dota2/images/heroes/monkey_king_sb.png" alt="">
      <img src="http://cdn.dota2.com/apps/dota2/images/heroes/monkey_king_sb.png" alt="">
      <img src="http://cdn.dota2.com/apps/dota2/images/heroes/monkey_king_sb.png" alt="">
      <img src="http://cdn.dota2.com/apps/dota2/images/heroes/monkey_king_sb.png" alt="">
      <img src="http://cdn.dota2.com/apps/dota2/images/heroes/monkey_king_sb.png" alt="">
    </div>
  </div>
  <div class="content">
    <div>
      {{match.match_id}}
    </div>
  </div>
</div>
<router-outlet></router-outlet>
