<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ERROR <%= error.status %></title>
  </head>
  <body>
    <h1>Error <%= error.status %></h1>
    <h3><%= url %> <%= message %></h3>
    <hr/>
  </body>
</html>
