<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Welcome to <%= title %></h1>
  <%if (steam !== undefined) { %>
    <p>
      <%= steam.displayName %>
    </p>
  <% } else { %>
    <form class="" action="/auth/steam" method="get">
      <input type="submit" name="" value="Log in with steam">
    </form>
  <% }%>
</body>

</html>
