<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../app/components/group2/profile/profile.component.css">
  </head>
  <body>
    <div class="playerheader_container">
      <div *ngIf="user">
        <img src="{{user._json.avatarfull}}" alt="{{user.displayName}}" style="width:10vw;height:20vh;">
        <h2>{{user.displayName}}</h2>
          <table>
            <tr>
              <th>WINS</th>
              <th>LOSES</th>
              <th>WIN RATE</th>
              <th>ESTIMATE MMR</th>
            </tr>
            <tr>
              <th><font color="green">60</font></th>
              <th><font color="red">40</font></th>
              <th>60%</th>
              <th>1000</th>
            </tr>
          </table>
      </div>
    </div>


    <!-- <nav>
      <ul>
          <li [className]="tabs[0]" (click)="onTab(0)">Overview</li>
          <li [className]="tabs[1]" (click)="onTab(1)">Match</li>
          <li [className]="tabs[2]" (click)="onTab(2)">Hero</li>
      </ul>
    </nav> -->

  </body>
</html>
