.line{
  background-color: #A52A2A;
}

.img_type{
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  float: left;
}

.atk{
  background-image: url('http://cdn.dota2.com/apps/dota2/images/heropedia/overviewicon_attack.png');
}

.def{
  background-image: url('http://cdn.dota2.com/apps/dota2/images/heropedia/overviewicon_defense.png');
}
.str{
  background-image: url('http://cdn.dota2.com/apps/dota2/images/heropedia/overviewicon_str.png');
}
.agi{
  background-image: url('http://cdn.dota2.com/apps/dota2/images/heropedia/overviewicon_agi.png');
}
.int{
  background-image: url('http://cdn.dota2.com/apps/dota2/images/heropedia/overviewicon_int.png');
}
