<div class = "py-3">
  <span class = "font20" >In All Matches</span>
</div>

<div class = "d-flex flex-row flex-wrap">
    <div class = "d-flex flex-column">
      <span class = "font14">KILLS</span>
      <span class = "font24">{{toLocalNum(total_kill)}}</span>
    </div>
    <div class = "d-flex flex-column pl-4">
      <span class = "font14">DEATHS</span>
      <span class = "font24">{{toLocalNum(total_death)}}</span>
    </div>
    <div class = "d-flex flex-column pl-4">
      <span class = "font14">ASSISTS</span>
      <span class = "font24">{{toLocalNum(total_assists)}}</span>
    </div>
    <div class = "d-flex flex-column pl-4">
      <span class = "font14">LAST HITS</span>
      <span class = "font24">{{toLocalNum(total_lh)}}</span>
    </div>
    <div class = "d-flex flex-column pl-4">
      <span class = "font14">DENIES</span>
      <span class = "font24">{{toLocalNum(total_denide)}}</span>
    </div>
    <div class = "d-flex flex-column pl-4">
      <span class = "font14">LEVEL</span>
      <span class = "font24">{{toLocalNum(total_lv)}}</span>
    </div>
    <div class = "d-flex flex-column pl-4">
      <span class = "font14">HERO DAMAGE</span>
      <span class = "font24">{{toLocalNum(total_heroDamage)}}</span>
    </div>
    <div class = "d-flex flex-column pl-4">
      <span class = "font14">TOWER DAMAGE</span>
      <span class = "font24">{{toLocalNum(total_twDamage)}}</span>
    </div>
    <div class = "d-flex flex-column pl-4">
      <span class = "font14">HERO HEALING</span>
      <span class = "font24">{{toLocalNum(total_heroHeal)}}</span>
    </div>
    <div class = "d-flex flex-column pl-4">
      <span class = "font14">GOLD PER MIN</span>
      <span class = "font24">{{toLocalNum(total_gpm)}}</span>
    </div>
    <div class = "d-flex flex-column">
      <span class = "font14">XP PER MIN</span>
      <span class = "font24">{{toLocalNum(total_xpm)}}</span>
    </div>
</div>

<div class = "py-3">
  <span class = "font20">In Parsed Matches</span>
</div>

<div class = "d-flex flex-row flex-wrap">
  <div class = "d-flex flex-column">
    <span class = "font14">STUNS</span>
    <span class = "font24">{{toLocalNum(total_stuns)}}</span>
  </div>
  <div class = "d-flex flex-column pl-4">
    <span class = "font14">TOWER KILLS</span>
    <span class = "font24">{{toLocalNum(total_twKill)}}</span>
  </div>
  <div class = "d-flex flex-column pl-4">
    <span class = "font14">NEUTRAL KILLS</span>
    <span class = "font24">{{toLocalNum(total_neKill)}}</span>
  </div>
  <div class = "d-flex flex-column pl-4">
    <span class = "font14">COURIER KILLS</span>
    <span class = "font24">{{toLocalNum(total_courKill)}}</span>
  </div>
  <div class = "d-flex flex-column pl-4">
    <span class = "font14">TPS PURCHASED</span>
    <span class = "font24">{{toLocalNum(total_tpsPus)}}</span>
  </div>
  <div class = "d-flex flex-column pl-4">
    <span class = "font14">OBSERVERS PURCHASED</span>
    <span class = "font24">{{toLocalNum(total_obsePus)}}</span>
  </div>
  <div class = "d-flex flex-column pl-4">
    <span class = "font14">SENTRIES PURCHASED</span>
    <span class = "font24">{{toLocalNum(total_senPus)}}</span>
  </div>
  <div class = "d-flex flex-column pl-4">
    <span class = "font14">GEMS PURCHASED</span>
    <span class = "font24">{{toLocalNum(total_gemPus)}}</span>
  </div>
  <div class = "d-flex flex-column ">
    <span class = "font14">RAPIERS PURCHASED</span>
    <span class = "font24">{{toLocalNum(total_rapiersPus)}}</span>
  </div>
  <div class = "d-flex flex-column pl-4">
    <span class = "font14">MAP PINGS</span>
    <span class = "font24">{{toLocalNum(total_mapPings)}}</span>
  </div>
</div>
