
<div *ngIf="itemlist" class="mx-auto">
  <div class="d-flex flex-column p-4 bor" >
    <div class="p-2"><h3 class="text-center">Quiz: Choose component of this item</h3></div>
    <div class="p-2 d-flex justify-content-center">
      <!-- Quiz -->
      <img src="{{getComponents(randomItem().img)}}" alt="">
    </div>
    <div class="p-2 text-center" style="color: #585858">____________________________________________________________________________ </div>
    <div class="p-2 mx-auto">
      <span *ngFor = "let item of makeChoice() ; let i = index">
        <!-- Choice -->
              <img [hidden] = "showAns" [ngClass]="{'enabled': binaryCheck[i]}" (click)="check(i)" src="{{getComponents(item)}}" style="width:80px; height:50px;">
      </span>
    </div>
    <div class="p-2 d-flex justify-content-center">
      <button type="button" class="btn btn-primary" (click) = "onSubmit()" [hidden] = "!hidden">
              Submit
      </button>
      <h1 [hidden] = "hidden" [ngClass] = "isTrue(result)">{{result}}</h1>
    </div>
    <div  class="p-2 d-flex justify-content-center">
      <span *ngFor = "let item of arrComp ; let i = index">
          <img [hidden] = "!showAns" src="{{getComponents(item)}}" alt="">
      </span>
    </div>

  </div>
</div>
