.table-match{
  margin-bottom: 0px;
  border-spacing:0 1px;
  border-collapse: separate;
}

@media (max-width: 767px){
  .table-match {
    table-layout: auto;
    width: 100%;
  }
}

.table-match tr th,
.table-match tr td{
  text-align: left;
}

.table-match tr td{
  background-color: transparent ;
}

.chat1 {
  outline: 3.5px solid #2e6ae6;
}

.chat2 {
  outline: 3.5px solid #5de6ad;
}

.chat3 {
  outline: 3.5px solid #ad00ad;
}

.chat4 {
  outline: 3.5px solid #dcd90a;
}

.chat5 {
  outline: 3.5px solid #e66200;
}

.chat6 {
  outline: 3.5px solid #e67ab0;
}

.chat7 {
  outline: 3.5px solid #92a440;
}

.chat8 {
  outline: 3.5px solid #5cc5e0;
}

.chat9 {
  outline: 3.5px solid #00771e;
}

.chat10 {
  outline: 3.5px solid #835603;
}

.chat-thread {
  width: 100%;
  margin: 24px auto 0 auto;
  padding: 0 20px 0 0;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-thread li {
  position: relative;
  clear: both;
  display: inline-block;
  white-space: nowrap;
}

.chat-thread .msg {
  position: relative;
  display: inline-block;
  padding: 8px 15px 8px 15px;
  margin: 0 0 20px 0;
  font: 16px/20px 'Noto Sans', sans-serif;
  border-radius: 10px;
  max-width: calc(100% - 60px);
  white-space: normal;
}

/* Chat - Speech Bubble Arrow */
.chat-thread .msg:after {
  position: absolute;
  top: 15px;
  content: '';
  width: 0;
  height: 0;
}

.chat-thread img {
  width: 60px;
}

.chat-thread .time{
  font-size: 13px;
}

.chat-thread .dire {
  float: right;
  color: #ff3b3b;
}

.chat-thread .dire img{
  float: right;
}

.chat-thread .dire .msg{
  margin-right: 15px;
  text-align: right;
  background-color: rgba(255, 0, 0, 0.2);
}

.chat-thread .dire .msg:after {
  border-right: 15px solid transparent;
  right: -15px;
  border-top: 15px solid rgba(255, 0, 0, 0.2);
}

.chat-thread .dire .msg .time{
  text-align: right;
}

.chat-thread .radiant {
  float: left;
  color: #00ff93;
  margin-left: 5px;
}

.chat-thread .radiant img{
  float: left;
}

.chat-thread .radiant .msg{
  margin-left: 15px;
  background-color: rgba(0, 255, 0, 0.2);
}

.chat-thread .radiant .msg:after {
  border-left: 15px solid transparent;
  left: -15px;
  border-top: 15px solid rgba(0, 255, 0, 0.2);
}

.chat-thread .admin{
  float: left;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.chat-thread .admin .msg{
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  display: block;
  max-width: 100%;
}
.chat-thread .admin .time{
  text-align: center;
}


@media (min-width: 992px) {
  .chat-thread {
    width: 720px;
  }
}
