body{
  background-color: #292b2c;
}

load{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #BBB;
  font-size: 2.5rem;
  display: table;
  margin: 0 auto;
  padding-top: 1.5rem;
}

load div{
  text-align: center;
}

load img{
  width: 20%;
  height: 20%;
  margin: 0 auto;
  display: table;
}
