.radiant-team {
  text-shadow: 0px 0px 7px #00ff00;
}

.dire-team {
  text-shadow: 0px 0px 7px #ff0000;
}

.table-outlet {
  overflow-x: scroll;
}

.table-match {
  margin-bottom: 0px;
}

[tooltip] {
  cursor: help;
}

.percent {
  color: #969696;
}

.progress {
  height: 3px;
  margin-top: 7px;
  background-color: #444;
  transition: 5s linear;
  transition-property: width;
}

@media (max-width: 767px) {
  .table-match {
    table-layout: fixed;
    width: auto;
    border-collapse: collapse;
  }
  .table-match th, .table-match td {
    border-collapse: collapse;
  }
}

.player1 {
  border-left: 3.5px solid #2e6ae6;
}

.player2 {
  border-left: 3.5px solid #5de6ad;
}

.player3 {
  border-left: 3.5px solid #ad00ad;
}

.player4 {
  border-left: 3.5px solid #dcd90a;
}

.player5 {
  border-left: 3.5px solid #e66200;
}

.player6 {
  border-left: 3.5px solid #e67ab0;
}

.player7 {
  border-left: 3.5px solid #92a440;
}

.player8 {
  border-left: 3.5px solid #5cc5e0;
}

.player9 {
  border-left: 3.5px solid #00771e;
}

.player10 {
  border-left: 3.5px solid #835603;
}
