<ul class="nav nav-pills custom-nav" *ngIf="id">
  <li class="nav-item">
    <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/profile/'+id]" href="#">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/profile/'+id+'/heroes']" href="#">Heroes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/profile/'+id+'/matches']" href="#">Matches</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/profile/'+id+'/peers']" href="#">Peers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/profile/'+id+'/totals']" href="#">Totals</a>
  </li>
</ul>
