<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse mb-4">
  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['/']"><img src="assets/images/logo.png" alt="Dota2 Stat" width="80px" height="30px"></a>

  <div [collapse]="isCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto navbar-left">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" dropdown (onShown)="onShown()" (onHidden)="onHidden()" (isOpenChange)="isOpenChange()">
        <a class="nav-link text-center" href dropdownToggle (click)="false">Hero <span class="caret"></span></a>
        <ul *dropdownMenu class="dropdown-menu">
          <li class="nav-item" ><a class="nav-link" [routerLink]="['/hero']">Hero Wiki</a></li>
          <li class="nav-item" ><a class="nav-link" [routerLink]="['/herostat']">Hero Stat</a></li>
        </ul>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link text-center" [routerLink]="['/item']">Item</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link text-center" [routerLink]="['/ranking']">Ranking</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link text-center" [routerLink]="['/match']">Match</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link text-center" [routerLink]="['/quiz']">Quiz</a>
      </li>
    </ul>
    <hr class="hidden-md-up" style="border-top: 1px solid #fff; width: 100%;">
    <ul class="navbar-nav navbar-right">
      <li class="nav-item" *ngIf="!authService.loggedIn()">
        <a class="navbar-brand text-center" [routerLink]="['/login']"><img src="assets/images/sits.png" alt="Steam LogIn" width="80px" height="30px"></a>
      </li>
      <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" tooltip="veiw profile" placement="bottom">
        <a class="nav-link text-center" [routerLink]="['/profile/'+id]"><i class="fa fa-user-circle fa-lg"></i><span *ngIf="name"> {{name}}</span></a>
      </li>
      <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" tooltip="setting" placement="bottom" (mouseenter)="mouseOvered=true" (mouseleave) ="mouseOvered=false">
        <a class="nav-link text-center" [routerLink]="['/profile/setting']"><i [class.fa-spin]="mouseOvered" class="fa fa-cog fa-lg"></i><span class="hidden-md-up"> Setting</span></a>
      </li>
      <li class="nav-item" *ngIf="authService.loggedIn()" tooltip="Log out" placement="bottom">
        <a class="nav-link text-center" (click)="onLogout()" href="#"><i class="fa fa-sign-out fa-lg"></i><span class="hidden-md-up"> Log out</span></a>
      </li>
    </ul>
  </div>
</nav>
