<div *ngIf="detail && items">
  <h1><div>{{detail.dname}}</div></h1>
  <img class="margin" [src]="getImage()" alt="" width="155" height="130">
  <div class="d-flex justify-content-center">
    <table width="70%" text-align="center">
      <tr>
        <th style="color:rgb(255, 184, 0)">PRICE</th>
        <td style="color:rgb(255, 184, 0)">{{detail.cost}}</td>
      </tr>

      <tr>
        <th style="color:rgb(0, 118, 203)">MANA</th>
        <td *ngIf="detail.mc==false" style="color:rgb(0, 118, 203)"> - </td>
        <td *ngIf="detail.mc!=false" style="color:rgb(0, 118, 203)"> {{detail.mc}} </td>
      </tr>

      <tr>
        <th style="color:rgb(185, 180, 180)">COOLDOWN</th>
        <td *ngIf="detail.cd==false" style="color:rgb(185, 180, 180))"> - </td>
        <td *ngIf="detail.cd!=false" style="color:rgb(185, 180, 180)"> {{detail.cd}}  seconds</td>
      </tr>

      <tr>
        <th style="color:rgb(15, 204, 29)">DESCRIPTION</th>
        <td *ngIf="detail.desc==''" style="color:rgb(15, 204, 29)"> - </td>
        <td *ngIf="detail.desc!=''" style="color:rgb(15, 204, 29)"> {{getDesc(detail.desc)}} </td>
      </tr>

      <tr>
        <th style="color:rgb(236, 127, 0)">COMPONENTS</th>
        <td>
          <div class="d-flex flex-row">
            <div  style="color:rgb(236, 127, 0)" *ngIf="itemcom==''">-</div>
            <div *ngFor = "let cmp of detail.components">
              <span [tooltip]="getNameComponent(cmp)" class="p">
                <img class="p-1" (click)="itemDetail(cmp)" [src]= "getComponents(cmp)" alt="">
              </span>
            </div>

              <div *ngIf="getPrice()=='NO'">
                <span [tooltip]="getNameComponent('recipe')">
                  <img class="p-1" [src]= "getComponents('recipe')" alt="">
                </span>
             </div>

          </div>
        </td>
      </tr>

      <tr>
        <th style="color:rgba(245, 80, 153, 1)">UPGRADE</th>
        <td>
          <div class="d-flex flex-row">
            <div style="color:rgba(245, 80, 153, 1)" *ngIf="itemup==''">-</div>
            <div *ngFor="let upgrade of itemup">
              <div *ngIf="watchUpgrade(upgrade)=='NO'">
                <span [tooltip]="getNameComponent(upgrade)" class="p">
                  <img class="p-1" (click)="itemDetail(upgrade)" [src]="getComponents(upgrade)" alt="">
                </span>
              </div>

              <div *ngIf="watchUpgrade(upgrade)=='YES'">
                <span>
                  <img class="p-1" [src]="getComponents(upgrade)" alt="">
                </span>
              </div>
            </div>
          </div>
        </td>
      </tr>

    </table>
  </div>
  <div class="bottom"></div>
</div>

<app-quiz></app-quiz>
