<h1>  Item </h1>

<div *ngIf="item && itemdetail">
  {{item.result.status}}
  {{itemdetail.itemdata["blink"].dname}}
<table class="table-match" cellpadding="0" cellspacing="0" border="0">
  <thead>
    <tr>
      <th> Image </th>
      <th> Name </th>
      <th> Cost </th>
      <th> Components </th>
      <th> Description </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let entry of itemdetail.itemdata | keys">
      <td>{{entry.key}}</td>
      <td>
        <img [src]="getImage(entry.key)" alt="">
      </td>
      <td>{{entry.value.dname}}</td>
      <td>{{entry.value.lore}}</td>
    </tr>
  </tbody>
</table>
</div>
