b
{
    text-align: center;
    text-transform: uppercase;
    padding-left: 145px;
}

div.pad{
  margin-bottom: 10px;
}

h1{
  margin-bottom: 30px;
}

img{
  cursor:pointer;
}

.bottom{
    padding-bottom: 20px;
}
