<h1>MMR Ranking</h1>



<nav>
  <ul>
      <li [className]="tabs[0]" (click)="onTab(0)">Europe</li>
      <li [className]="tabs[1]" (click)="onTab(1)">Americas</li>
      <li [className]="tabs[2]" (click)="onTab(2)">SE Asia</li>
      <li [className]="tabs[3]" (click)="onTab(3)">China</li>
  </ul>
</nav>

<div *ngIf = "canShow(rankingEU,0)">
  <span>Recent update {{rankingEU.time_posted*1000 | date:'d/MMMM/yyyy @ h:mma':'+7000' }}</span>
  <span>Next update {{rankingEU.next_scheduled_post_time*1000 | date:'d/MMMM/yyyy @ h:mma':'+7000' }}</span>
  <table class="table-match" cellpadding="0" cellspacing="0" border="0">
    <thead>
      <tr>
        <th> Rank </th>
        <th> Name </th>
        <th> MMR Solo </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let item of rankingEU.leaderboard ; let i = index">
        <td>{{item.rank}}</td>
        <td>
          <span *ngIf="item.team_tag">{{item.team_tag}}.</span>
          <span style="font-weight:bold">{{item.name}}</span>
          <span *ngIf="item.sponsor">.{{item.sponsor}}</span>
          <span *ngIf="getImageFlag(item.country)"><img src="{{getImageFlag(item.country)}}"></span>
        </td>
        <td>{{item.solo_mmr}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf = "canShow(rankingA,1)">
  <span>Recent update {{rankingA.time_posted*1000 | date:'d/MMMM/yyyy @ h:mma':'+7000' }}</span>
  <span>Next update {{rankingA.next_scheduled_post_time*1000 | date:'d/MMMM/yyyy @ h:mma':'+7000' }}</span>
  <table class="table-match" cellpadding="0" cellspacing="0" border="0">
    <thead>
      <tr>
        <th> Rank </th>
        <th> Name </th>
        <th> MMR Solo </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let item of rankingA.leaderboard ; let i = index">
        <td>{{item.rank}}</td>
        <td>
          <span *ngIf="item.team_tag">{{item.team_tag}}.</span>
          <span style="font-weight:bold">{{item.name}}</span>
          <span *ngIf="item.sponsor">.{{item.sponsor}}</span>
          <span *ngIf="getImageFlag(item.country)"><img src="{{getImageFlag(item.country)}}"></span>
        </td>
        <td>{{item.solo_mmr}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf = "canShow(rankingSE,2)">
  <span>Recent update {{rankingSE.time_posted*1000 | date:'d/MMMM/yyyy @ h:mma':'+7000' }}</span>
  <span>Next update {{rankingSE.next_scheduled_post_time*1000 | date:'d/MMMM/yyyy @ h:mma':'+7000' }}</span>
  <table class="table-match" cellpadding="0" cellspacing="0" border="0">
    <thead>
      <tr>
        <th> Rank </th>
        <th> Name </th>
        <th> MMR Solo </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let item of rankingSE.leaderboard ; let i = index">
        <td>{{item.rank}}</td>
        <td>
          <span *ngIf="item.team_tag">{{item.team_tag}}.</span>
          <span style="font-weight:bold">{{item.name}}</span>
          <span *ngIf="item.sponsor">.{{item.sponsor}}</span>
          <span *ngIf="getImageFlag(item.country)"><img src="{{getImageFlag(item.country)}}"></span>
        </td>
        <td>{{item.solo_mmr}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf = "canShow(rankingCH,3)">
  <span>Recent update {{rankingCH.time_posted*1000 | date:'d/MMMM/yyyy @ h:mma':'+7000' }}</span>
  <span>Next update {{rankingCH.next_scheduled_post_time*1000 | date:'d/MMMM/yyyy @ h:mma':'+7000' }}</span>
  <table class="table-match" cellpadding="0" cellspacing="0" border="0">
    <thead>
      <tr>
        <th> Rank </th>
        <th> Name </th>
        <th> MMR Solo </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let item of rankingCH.leaderboard ; let i = index">
        <td>{{item.rank}}</td>
        <td>
          <span *ngIf="item.team_tag">{{item.team_tag}}.</span>
          <span style="font-weight:bold">{{item.name}}</span>
          <span *ngIf="item.sponsor">.{{item.sponsor}}</span>
          <span *ngIf="getImageFlag(item.country)"><img src="{{getImageFlag(item.country)}}"></span>
        </td>
        <td>{{item.solo_mmr}}</td>
      </tr>
    </tbody>
  </table>
</div>
